apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: guestbook
spec:
  generators:
  - list:
      elements:
      - cluster: in-cluster
        url: https://kubernetes.default.svc
      - cluster: autopilot
        url: https://35.221.157.70
  template:
    metadata:
      name: '{{cluster}}-guestbook'
    spec:
      project: default
      source:
        repoURL: git@github.com:SCR1305/my-argocd-examples.git
        targetRevision: HEAD
        path: application-sets/{{cluster}}/guestbook/
      destination:
        server: '{{url}}'
        namespace: appset
